@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  /* Remove grid and flex properties */
  /* display: grid; */
  /* grid-auto-flow: dense; */
  /* flex-wrap: wrap; */
  /* gap: 15px; */
  /* flex-direction: row; */
  /* grid-template-columns: repeat(auto-fill, minmax(120px, 1fr 1fr 1fr)); */
  /* grid-template-rows: masonry; */
  z-index: 1;
  background-color: var(--color-bg);
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  display: flex;
  margin-left: -24px; 
  width: auto;
  column-count: 3;
  column-gap: 24px;
  width: 100%;
  justify-content: center;
  align-items: flex;
}

.projectsColumn {
  padding-left: 24px; 
  background-clip: padding-box;
}

@media (max-width: 1000px) {
  .projects {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .projects {
    column-count: 1;
    justify-content: center;
  }
}

