*{
    font-family:'Garamond', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
    transition: all 0.5s ease;
  }
  html, body{
      margin:0;
      padding:0;
      background-color: #373502;
  }
  body{
      overflow-x: hidden;
  }
  a{
    text-decoration: none;
  }

  nav {
      width: 50%;
      max-width: 300px;
      height: 50px;
      overflow: hidden;
    }
    
  nav > ul {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      padding-inline-start: 0;
      margin-block: 0;
      height: 100%;
    }
    
  nav > ul > li {
      color: #d5c8b5 !important;
      margin: 0 0.2rem;
      padding: 0.2rem;
      display: block;
      align-items: center;
    }
    
  nav > ul > li :hover { /*When u hover*/
      color: #e3a7b7 !important;
      cursor: pointer;
      transition: all 0.2s ease;
      font-size: 110%;
    }
    nav > ul > li :visited { 
        color: #d5c8b5 !important;
        cursor: pointer;
        transition: all 0.5s ease;
      }
  
  header {
      width: 100%;
      height: 150px;
      background-color: #373502;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      z-index:1000;
      overflow: hidden;
    }
  
  h1{
      font-family:'Garamond', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: #D5C8B5;
      margin-left: 75px;
      margin-top: 75px;
      font-size: 4em;
        }
  
  h2{
      font-family:'Garamond', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      display: flex;
      position: relative;
      top: 50px;
      left: 0.01em;
      z-index: 5;
      color: #D5C8B5 !important;
      margin: 75px;
      margin-bottom: 20px;
      
  }
  
  h2:last-of-type{
      display: flex;
      position: relative;
  
  }
  
  main {
      padding-top: 50px;
      flex:1;
    }
  
  footer {
      margin-top: auto;
      background-color: #e3a7b7;
      display: flex;
      position: relative;
      justify-content: center;
      margin: 0;
      padding:0;
    }
    
  footer, footer a {
      color: #373502;
    }
    
  address {
      text-align: center;
      padding: 0.3em;
      overflow: hidden;
    }
  
  .resources{
      height: 300px;
  }
  
  
  
  .projects, .gallery{
      margin: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin: 2em;
      height: 430px;
      
  }
  
  
  img{
    width: 100%;
    height: 50%;
    overflow: hidden;
  }

  
  .event_title{
    display: flex;
    position: relative;
    align-items: center;
    padding: 0.5em;
   
  }
  

  
  @media(max-width: 1000px){
    .gallery, .events{
      flex-direction: column;
    }
  }
  
  .back, .next{
    border: none;
    width: 0.2*10vw;
    height: 100%;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #1A6AC3;
  }
  
  
  .empty_event{
    outline: 6px dashed black;
    margin-top:2em;
    margin-bottom:2em;
  }
  
  .coming:hover::after {
    content: "COMING SOON!";
    display: block; 
  }

  .coming::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#D5C8B5;
    color:#373502;
    display: none;
    height: 100%;
    width: 295px;
    outline: 1px solid #373502;
    z-index: 100;
    text-align: center;
    line-height: 360px;
    font-weight: bold;
    overflow: hidden;
    transition: all 1s ease;
  }
  

  .course-projects{
    background-color: #e3a7b7;
    margin:0;
    width: 100%;
    height: 550px;
  }
  .other{
    color: #373502 !important;
    margin-top: 0;
  }

  .other > div{
    background-color: #d5c8b5; 

  }


  section > div{
    background-color: #d5c8b5;
    height: 350px;
    width: 275px;
    margin-top: 50px;
    outline: 1px solid #373502;
    margin-bottom: 0.5px;
    
  }

  section > div > div{
    background-color: black;
    aspect-ratio: 1/1;
    margin: 20px;
    overflow-y: hidden;
    outline: 1px solid #373502;
  }

  .link{
    width: 30px;
    aspect-ratio: 1/1;
    opacity: 30%;
    margin-top: -50px;
    margin-left: 75px;
    margin-bottom: 50px;
    
  }

  .link:hover{
    opacity: 85%;
  }

  .in{
    margin-left: 10px;
  }

  .one{
    rotate: -2deg;
  }

  .two{
    rotate: 3deg;
  }

  .three{
    rotate: 1deg;
  }

  .me{
    background-color:#D5C8B5;
    margin: 100px;
    margin-top:150px;
    margin-bottom: 30px;
    height: 480px;
    position: center;
    border-radius: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .me-img{
    aspect-ratio: 1/1;
    width: 400px;
    height: 400px;
    margin-left: -320px;
    border-radius: 30px;

  }

.more-me{
    margin: -300px;
    padding: -100px;
    font-size: 20px;
}
.more-me > h3{
    font-size: 30px;
}

section > div > h3{
    margin-left: 1em;
    font-family:'Courier New', Courier, monospace !important;
    font-size: 16px;
    color:#373502;
}

section > div:hover{
    background-color: #d5c8b5;
    height: 360px;
    width: 295px;
    margin-top: 50px;
    outline: 1px solid #373502;
    margin-bottom: 0.5px;
  }

  .img{
    height: 100%;
    overflow: hidden;
    width: 100%;
  }