@import "../../vars.css";

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000000;
  margin: 0 10%;
  background:linear-gradient(135deg, #5f1f5a, #D3009D, #5f1f5a); /*change*/
  margin-top: 61px;
  padding: 15px;
  border-radius: 20px;
  width: 80%;
}


.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
  transition: scale 0.5s ease-in-out;
}

.title:hover {
  scale: 0.9;
  
}

.menuBtn {
  display: none;
  transition: scale 0.5s ease-in-out;
}

.menuBtn:hover {
  scale: 0.9;
  
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}


.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

.menuItems li{
  transition: scale 0.3s ease-in-out;
}

.menuItems li:hover{
  scale: 0.9;
  
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 1000000;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1000000;
  }
}
