@import "./vars.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  background: var(--color-bg);
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.light{
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: linear-gradient(to right, #acbbfd, #ffaade);
}
/*PICK COLOURS*/
.dark{
   --color-text: #ffffff;
  --color-primary: #ff66c4;
  --color-secondary: #5170ff;
  --color-dark: #0b2447;
  --color-bg: linear-gradient(to right, #19376d, #576cbc); /*#5170ff, #ff66c4*/
}