:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: linear-gradient(to right, #5170ff, #ff66c4);

  /* Fonts */
  --font-montserrat: "MontSerrat";
}

